<div class="ion-page">
  <ion-content color="warning">
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <h4>References</h4>
        </ion-col>
        <ion-col size="2">
          <a (click)="dismiss()">Close</a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeXs="12">
          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="false" aria-controls="collapseOne">
                <h4 class="mb-0">
                  I. SKIN
                </h4>
              </div>

              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="englishTxt">
                    1. Santiago F, Gonçalo M, Reis JP, Figueiredo A. Adverse cutaneous reactions to epidermal growth
                    factor receptor inhibitors: a study of 14 patients. An Bras Dermatol. 2011 May-Jun;86(3):483-90
                    <br />
                    Link: <a target="_blank"
                      href="https://www.researchgate.net/publication/51476704_Adverse_cutaneous_reactions_to_epidermal_growth_factor_receptor_inhibitors_-_A_study_of_14_patients">https://www.researchgate.net/publication/51476704_Adverse_cutaneous_reactions_to_epidermal_growth_factor_receptor_inhibitors_-_A_study_of_14_patients</a>
                    <br />
                    2. Tomková H, Kohoutek M, Zábojníková M, Pospísková M, Ostrízková L, Gharibyar M. Cetuximab-induced
                    cutaneous toxicity. J Eur Acad Dermatol Venereol. 2010 Jun;24(6):692-6.
                    <br />
                    Link: <a target="_blank" href="https://pubmed.ncbi.nlm.nih.gov/19925598/">
                      https://pubmed.ncbi.nlm.nih.gov/19925598/</a>
                    <br />
                    3. De Noronha e Menezes NM, Lima R, Moreira A, Varela P, Barroso A, Baptista A, Parente B.
                    Description and management of cutaneous side effects during erlotinib and cetuximab treatment in
                    lung and colorectal cancer patients: a prospective and descriptive study of 19 patients. Eur J
                    Dermatol. 2009 May-Jun;19(3):248-51.
                    <br />
                    Link: <a target="_blank"
                      href="https://www.jle.com/fr/revues/ejd/e-docs/description_and_management_of_cutaneous_side_effects_during_erlotinib_and_cetuximab_treatment_in_lung_and_colorectal_cancer_pat_280923/article.phtml">
                      https://www.jle.com/fr/revues/ejd/e-docs/description_and_management_of_cutaneous_side_effects_during_erlotinib_and_cetuximab_treatment_in_lung_and_colorectal_cancer_pat_280923/article.phtml</a>
                    <br />
                    4. Ocvirk J, Cencelj S. Management of cutaneous side-effects of cetuximab therapy in patients with
                    metastatic colorectal cancer. J Eur Acad Dermatol Venereol. 2010 Apr;24(4):453-9.
                    <br />
                    Link: <a target="_blank" href="https://pubmed.ncbi.nlm.nih.gov/19793151/">
                      https://pubmed.ncbi.nlm.nih.gov/19793151/</a>
                    <br />
                    5. Pinto C, Barone CA, Girolomoni G, Russi EG, Merlano MC, Ferrari D, Maiello E; American Society of
                    Clinical Oncology; European Society of Medical Oncology. Management of skin toxicity associated with
                    cetuximab treatment in combination with chemotherapy or radiotherapy. Oncologist. 2011;16(2):228-38.
                    <br />
                    Link: <a target="_blank"
                      href="https://www.researchgate.net/publication/49791266_Management_of_Skin_Toxicity_Associated_with_Cetuximab_Treatment_in_Combination_with_Chemotherapy_or_Radiotherapy">
                      https://www.researchgate.net/publication/49791266_Management_of_Skin_Toxicity_Associated_with_Cetuximab_Treatment_in_Combination_with_Chemotherapy_or_Radiotherapy</a>
                    <br />
                    6. Lacouture ME, Mitchell EP, Piperdi B, Pillai MV, Shearer H, Iannotti N, Xu F, Yassine M. Skin
                    toxicity evaluation protocol with panitumumab (STEPP), a phase II, open-label, randomized trial
                    evaluating the impact of a pre-Emptive Skin treatment regimen on skin toxicities and quality of life
                    in patients with metastatic colorectal cancer. J Clin Oncol. 2010 Mar 10;28(8):1351-7.
                    <br />
                    Link: <a target="_blank"
                      href="https://ascopubs.org/doi/10.1200/JCO.2008.21.7828?url_ver=Z39.88-2003&rfr_id=ori:rid:crossref.org&rfr_dat=cr_pub%20%200pubmed">
                      https://ascopubs.org/doi/10.1200/JCO.2008.21.7828?url_ver=Z39.88-2003&rfr_id=ori:rid:crossref.org&rfr_dat=cr_pub%20%200pubmed</a>
                    <br />
                    7.	Scope A, Agero AL, Dusza SW, Myskowski PL, Lieb JA, Saltz L, Kemeny NE, Halpern AC. Randomized double-blind trial of prophylactic oral minocycline and topical tazarotene for cetuximab-associated acne-like eruption. J Clin Oncol. 2007 Dec 1;25(34):5390-6.
                    Link:
                    <br />
                    <a target="_blank" href="https://ascopubs.org/doi/pdf/10.1200/JCO.2007.12.6987">https://ascopubs.org/doi/pdf/10.1200/JCO.2007.12.6987</a>
                    <br />
                    8. Ocvirk J, et al. WCGIC 2009 (Abstract No: PD0021).<br />
                    9.	Tomková H, Pospíšková M, Zábojníková M, Kohoutek M, Serclová M, Gharibyar M, Sternberský J. Phytomenadione pre-treatment in EGFR inhibitor-induced folliculitis. J Eur Acad Dermatol Venereol. 2013 Apr;27(4):514-9.
                    Link:
                    <br />
                    <a target="_blank" href="https://onlinelibrary.wiley.com/doi/abs/10.1111/j.1468-3083.2011.04324.x">https://onlinelibrary.wiley.com/doi/abs/10.1111/j.1468-3083.2011.04324.x</a>
                    <br />
                    10. Wu PA, Balagula Y, Lacouture ME, Anadkat MJ. Prophylaxis and treatment of dermatologic adverse events from epidermal growth factor receptor inhibitors. Curr Opin Oncol. 2011 Jul;23(4):343-51.
                    Link:
                    <br />
                    <a target="_blank" href="https://www.researchgate.net/publication/51093199_Prophylaxis_and_treatment_of_dermatologic_adverse_events_from_epidermal_growth_factor_receptor_inhibitors">
                    https://www.researchgate.net/publication/51093199_Prophylaxis_and_treatment_of_dermatologic_adverse_events_from_epidermal_growth_factor_receptor_inhibitors</a>

                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="false" aria-controls="collapseTwo">
                <h4 class="mb-0">
                  II. HAIR
                </h4>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="englishTxt">
                    1. Santiago F, Gonçalo M, Reis JP, Figueiredo A. Adverse cutaneous reactions to epidermal growth
                    factor receptor inhibitors: a study of 14 patients. An Bras Dermatol. 2011 May-Jun;86(3):483-90.
                    <br />
                    Link: <a target="_blank"
                      href="https://www.researchgate.net/publication/51476704_Adverse_cutaneous_reactions_to_epidermal_growth_factor_receptor_inhibitors_-_A_study_of_14_patients">https://www.researchgate.net/publication/51476704_Adverse_cutaneous_reactions_to_epidermal_growth_factor_receptor_inhibitors_-_A_study_of_14_patients</a>
                    <br />
                    2. Tomková H, Kohoutek M, Zábojníková M, Pospísková M, Ostrízková L, Gharibyar M.
                    Cetuximab-induced cutaneous toxicity. J Eur Acad Dermatol Venereol. 2010 Jun;24(6):692-6.
                    <br />
                    Link: <a href="https://pubmed.ncbi.nlm.nih.gov/19925598/"
                      target="_blank">https://pubmed.ncbi.nlm.nih.gov/19925598/</a>
                    <br />
                    3. De Noronha e Menezes NM, Lima R, Moreira A, Varela P, Barroso A, Baptista A, Parente B.
                    Description and management of cutaneous side effects during erlotinib and cetuximab treatment in
                    lung and colorectal cancer patients: a prospective and descriptive study of 19 patients. Eur J
                    Dermatol. 2009 May-Jun;19(3):248-51.
                    <br />
                    Link: <a
                      href="https://www.jle.com/fr/revues/ejd/e-docs/description_and_management_of_cutaneous_side_effects_during_erlotinib_and_cetuximab_treatment_in_lung_and_colorectal_cancer_pat_280923/article.phtml"
                      target="_blank">
                      https://www.jle.com/fr/revues/ejd/e-docs/description_and_management_of_cutaneous_side_effects_during_erlotinib_and_cetuximab_treatment_in_lung_and_colorectal_cancer_pat_280923/article.phtml</a>
                    <br />
                    4. Ocvirk J, Cencelj S. Management of cutaneous side-effects of cetuximab therapy in patients with
                    metastatic colorectal cancer. J Eur Acad Dermatol Venereol. 2010 Apr;24(4):453-9.
                    <br />
                    Link: <a target="_blank" href="https://pubmed.ncbi.nlm.nih.gov/19793151/">
                      https://pubmed.ncbi.nlm.nih.gov/19793151/</a>
                    <br />
                    5. Lacouture ME. Mechanisms of cutaneous toxicities to EGFR inhibitors. Nat Rev Cancer. 2006
                    Oct;6(10):803-12.
                    <br />
                    Link: <a target="_blank"
                      href="https://ascopubs.org/doi/10.1200/JCO.2008.21.7828?url_ver=Z39.88-2003&rfr_id=ori:rid:crossref.org&rfr_dat=cr_pub%20%200pubmed">
                      https://ascopubs.org/doi/10.1200/JCO.2008.21.7828?url_ver=Z39.88-2003&rfr_id=ori:rid:crossref.org&rfr_dat=cr_pub%20%200pubmed</a>
                    <br />
                    6. Rodriguez NA, Ascaso FJ. Trichomegaly and poliosis of the eyelashes during cetuximab treatment of
                    metastatic colorectal cancer. J Clin Oncol. 2011 Jun 20;29(18):e532-3.
                    <br />
                    Link: <a target="_blank" href="https://pubmed.ncbi.nlm.nih.gov/21483009/">
                      https://pubmed.ncbi.nlm.nih.gov/21483009/</a>

                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree"
                aria-expanded="false" aria-controls="collapseThree">
                <h4 class="mb-0">
                  III. NAIL
                </h4>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="englishTxt">
                    1. Fox LP. Nail toxicity associated with epidermal growth factor receptor inhibitor therapy. J Am
                    Acad Dermatol. 2007;56:460-5.
                    <br />
                    Link: <a target="_blank"
                      href="https://reader.elsevier.com/reader/sd/pii/S0190962206025394?token=EFBB1E6721672F3636AD1A4DE2B9B6141898C6E8713C7F24867BC75829AB48A85AED41196C5D4417D9E689790F86DB16&originRegion=eu-west-1&originCreation=20210418201923">
                      https://reader.elsevier.com/reader/sd/pii/S0190962206025394?token=EFBB1E6721672F3636AD1A4DE2B9B6141898C6E8713C7F24867BC75829AB48A85AED41196C5D4417D9E689790F86DB16&originRegion=eu-west-1&originCreation=20210418201923</a>
                    <br />
                    2. Santiago F, Gonçalo M, Reis JP, Figueiredo A. Adverse cutaneous reactions to epidermal growth
                    factor receptor inhibitors: a study of 14 patients. An Bras Dermatol. 2011 May-Jun;86(3):483-90.
                    <br />
                    Link: <a target="_blank"
                      href="https://www.researchgate.net/publication/51476704_Adverse_cutaneous_reactions_to_epidermal_growth_factor_receptor_inhibitors_-_A_study_of_14_patients">
                      https://www.researchgate.net/publication/51476704_Adverse_cutaneous_reactions_to_epidermal_growth_factor_receptor_inhibitors_-_A_study_of_14_patients</a>
                    <br />
                    3. Tomková H, Kohoutek M, Zábojníková M, Pospísková M, Ostrízková L, Gharibyar M. Cetuximab-induced
                    cutaneous toxicity. J Eur Acad Dermatol Venereol. 2010 Jun;24(6):692-6.
                    <br />
                    Link: <a target="_blank"
                      href="https://pubmed.ncbi.nlm.nih.gov/19925598/">https://pubmed.ncbi.nlm.nih.gov/19925598/</a>
                    <br />
                    4. De Noronha e Menezes NM, Lima R, Moreira A, Varela P, Barroso A, Baptista A, Parente B.
                    Description and management of cutaneous side effects during erlotinib and cetuximab treatment in
                    lung and colorectal cancer patients: a prospective and descriptive study of 19 patients. Eur J
                    Dermatol. 2009 May-Jun;19(3):248-51.
                    <br />
                    Link: <a target="_blank"
                      href="https://www.jle.com/fr/revues/ejd/e-docs/description_and_management_of_cutaneous_side_effects_during_erlotinib_and_cetuximab_treatment_in_lung_and_colorectal_cancer_pat_280923/article.phtml">
                      https://www.jle.com/fr/revues/ejd/e-docs/description_and_management_of_cutaneous_side_effects_during_erlotinib_and_cetuximab_treatment_in_lung_and_colorectal_cancer_pat_280923/article.phtml</a>
                    <br />
                    5. Ocvirk J, Cencelj S. Management of cutaneous side-effects of cetuximab therapy in patients with
                    metastatic colorectal cancer. J Eur Acad Dermatol Venereol. 2010 Apr;24(4):453-9.
                    <br />
                    Link: <a target="_blank" href="https://pubmed.ncbi.nlm.nih.gov/19793151/">
                      https://pubmed.ncbi.nlm.nih.gov/19793151/</a>
                    <br />
                    6. Pinto C, Barone CA, Girolomoni G, Russi EG, Merlano MC, Ferrari D, Maiello E; American Society of
                    Clinical Oncology; European Society of Medical Oncology. Management of skin toxicity associated with
                    cetuximab treatment in combination with chemotherapy or radiotherapy. Oncologist. 2011;16(2):228-38.
                    <br />
                    Link: <a target="_blank"
                      href="https://www.researchgate.net/publication/49791266_Management_of_Skin_Toxicity_Associated_with_Cetuximab_Treatment_in_Combination_with_Chemotherapy_or_Radiotherapy">
                      https://www.researchgate.net/publication/49791266_Management_of_Skin_Toxicity_Associated_with_Cetuximab_Treatment_in_Combination_with_Chemotherapy_or_Radiotherapy</a>
                    <br />
                    7. Lacouture ME. Mechanisms of cutaneous toxicities to EGFR inhibitors. Nat Rev Cancer. 2006
                    Oct;6(10):803-12.
                    <br />
                    Link: <a target="_blank" href="https://pubmed.ncbi.nlm.nih.gov/16990857/">
                      https://pubmed.ncbi.nlm.nih.gov/16990857/</a>
                    <br />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="">
            <p>"For reporting any adverse events from Merck Products, Please send an email to <a
                href="mailTo:Drug.safety.egypt@merckgroup.com">Drug.safety.egypt@merckgroup.com</a>"</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-content>
</div>
