<div class="ion-page">
  <ion-content color="warning">
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <h4>References</h4>
        </ion-col>
        <ion-col size="2">
          <a (click)="dismiss()">Close</a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeXs="12">
          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="false" aria-controls="collapseOne">
                <h4 class="mb-0">
                  I. SKIN
                </h4>
              </div>

              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="englishTxt">
                    <p>
                      1. Santiago F, Gonçalo M, Reis JP, Figueiredo A. Adverse cutaneous reactions to epidermal growth
                      factor receptor inhibitors: a study of 14 patients. An Bras Dermatol. 2011
                      May-Jun;86(3):483-90<br />
                      2. Tomková H, Kohoutek M, Zábojníková M, Pospísková M, Ostrízková L, Gharibyar M.
                      Cetuximab-induced cutaneous toxicity. J Eur Acad Dermatol Venereol. 2010 Jun;24(6):692-6.<br />
                      3. De Noronha e Menezes NM, Lima R, Moreira A, Varela P, Barroso A, Baptista A, Parente B.
                      Description and management of cutaneous side effects during erlotinib and cetuximab treatment in
                      lung and colorectal cancer patients: a prospective and descriptive study of 19 patients. Eur J
                      Dermatol. 2009 May-Jun;19(3):248-51.<br />
                      4. Ocvirk J, Cencelj S. Management of cutaneous side-effects of cetuximab therapy in patients with
                      metastatic colorectal cancer. J Eur Acad Dermatol Venereol. 2010 Apr;24(4):453-9.<br />
                      5. Pinto C, Barone CA, Girolomoni G, Russi EG, Merlano MC, Ferrari D, Maiello E; American Society
                      of Clinical Oncology; European Society of Medical Oncology. Management of skin toxicity associated
                      with cetuximab treatment in combination with chemotherapy or radiotherapy. Oncologist.
                      2011;16(2):228-38.<br />
                      6. Lacouture ME, Mitchell EP, Piperdi B, Pillai MV, Shearer H, Iannotti N, Xu F, Yassine M. Skin
                      toxicity evaluation protocol with panitumumab (STEPP), a phase II, open-label, randomized trial
                      evaluating the impact of a pre-Emptive Skin treatment regimen on skin toxicities and quality of
                      life in patients with metastatic colorectal cancer. J Clin Oncol. 2010 Mar 10;28(8):1351-7.<br />
                      7. Scope A, Agero AL, Dusza SW, Myskowski PL, Lieb JA, Saltz L, Kemeny NE, Halpern AC. Randomized
                      double-blind trial of prophylactic oral minocycline and topical tazarotene for
                      cetuximab-associated acne-like eruption. J Clin Oncol. 2007 Dec 1;25(34):5390-6.<br />
                      8. Ocvirk J, et al. WCGIC 2009 (Abstract No: PD0021).<br />
                      9. Tomková H, Pospíšková M, Zábojníková M, Kohoutek M, Serclová M, Gharibyar M, Sternberský J.
                      Phytomenadione pre-treatment in EGFR inhibitor-induced folliculitis. J Eur Acad Dermatol Venereol.
                      2013 Apr;27(4):514-9.<br />
                      10. Wu PA, Balagula Y, Lacouture ME, Anadkat MJ. Prophylaxis and treatment of dermatologic adverse
                      events from epidermal growth factor receptor inhibitors. Curr Opin Oncol. 2011 Jul;23(4):343-51.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="false" aria-controls="collapseTwo">
                <h4 class="mb-0">
                  II. HAIR
                </h4>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="englishTxt">
                    <p>
                      1. Santiago F, Gonçalo M, Reis JP, Figueiredo A. Adverse cutaneous reactions to epidermal growth
                      factor receptor inhibitors: a study of 14 patients. An Bras Dermatol. 2011
                      May-Jun;86(3):483-90.<br />
                      2. Tomková H, Kohoutek M, Zábojníková M, Pospísková M, Ostrízková L, Gharibyar M.
                      Cetuximab-induced cutaneous toxicity. J Eur Acad Dermatol Venereol. 2010 Jun;24(6):692-6.<br />
                      3. De Noronha e Menezes NM, Lima R, Moreira A, Varela P, Barroso A, Baptista A, Parente B.
                      Description and management of cutaneous side effects during erlotinib and cetuximab treatment in
                      lung and colorectal cancer patients: a prospective and descriptive study of 19 patients. Eur J
                      Dermatol. 2009 May-Jun;19(3):248-51.<br />
                      4. Ocvirk J, Cencelj S. Management of cutaneous side-effects of cetuximab therapy in patients with
                      metastatic colorectal cancer. J Eur Acad Dermatol Venereol. 2010 Apr;24(4):453-9.<br />
                      5. Lacouture ME. Mechanisms of cutaneous toxicities to EGFR inhibitors. Nat Rev Cancer. 2006
                      Oct;6(10):803-12.<br />
                      6. Rodriguez NA, Ascaso FJ. Trichomegaly and poliosis of the eyelashes during cetuximab treatment
                      of metastatic colorectal cancer. J Clin Oncol. 2011 Jun 20;29(18):e532-3.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree"
                aria-expanded="false" aria-controls="collapseThree">
                <h4 class="mb-0">
                  III. NAIL
                </h4>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="englishTxt">
                    <p>
                      1. Fox LP. Nail toxicity associated with epidermal growth factor receptor inhibitor therapy. J Am
                      Acad Dermatol. 2007;56:460-5.<br />
                      2. Santiago F, Gonçalo M, Reis JP, Figueiredo A. Adverse cutaneous reactions to epidermal growth
                      factor receptor inhibitors: a study of 14 patients. An Bras Dermatol. 2011
                      May-Jun;86(3):483-90.<br />
                      3. Tomková H, Kohoutek M, Zábojníková M, Pospísková M, Ostrízková L, Gharibyar M.
                      Cetuximab-induced cutaneous toxicity. J Eur Acad Dermatol Venereol. 2010 Jun;24(6):692-6.<br />
                      4. De Noronha e Menezes NM, Lima R, Moreira A, Varela P, Barroso A, Baptista A, Parente B.
                      Description and management of cutaneous side effects during erlotinib and cetuximab treatment in
                      lung and colorectal cancer patients: a prospective and descriptive study of 19 patients. Eur J
                      Dermatol. 2009 May-Jun;19(3):248-51.<br />
                      5. Ocvirk J, Cencelj S. Management of cutaneous side-effects of cetuximab therapy in patients with
                      metastatic colorectal cancer. J Eur Acad Dermatol Venereol. 2010 Apr;24(4):453-9.<br />
                      6. Pinto C, Barone CA, Girolomoni G, Russi EG, Merlano MC, Ferrari D, Maiello E; American Society
                      of Clinical Oncology; European Society of Medical Oncology. Management of skin toxicity associated
                      with cetuximab treatment in combination with chemotherapy or radiotherapy. Oncologist.
                      2011;16(2):228-38.<br />
                      7. Lacouture ME. Mechanisms of cutaneous toxicities to EGFR inhibitors. Nat Rev Cancer. 2006
                      Oct;6(10):803-12.<br />

                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="">
            <p>"For reporting any adverse events from Merck Products, Please send an email to <a
                href="mailTo:Drug.safety.egypt@merckgroup.com">Drug.safety.egypt@merckgroup.com</a>"</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-content>
</div>
