<ion-content color="warning" [fullscreen]="false">
  <div id="_container">
    <ion-grid>
      <h4 class="pageTitle" [class.arabicTxt]="false">Nail fold</h4>
      <h2 class="headSubTitle">NAIL<sup>(1-7)</sup> ... Nail Changes</h2>
      <ion-row>
        <ion-col sizeXs="4" offsetXs="4">
        <div class="img">
          <a data-toggle="modal" data-target="#img1"><img src="/assets/img/nail-fold.jpg" /></a>
        </div>
        </ion-col>
      </ion-row>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="active" [class.arabicTxt]="false" id="DO-tab" data-toggle="tab" href="#DO" role="tab"
            aria-controls="DO" aria-selected="true">Clinically</a>
        </li>
        <li class="nav-item">
          <a class="" [class.arabicTxt]="false" id="AVOID-tab" data-toggle="tab" href="#AVOID" role="tab"
            aria-controls="AVOID" aria-selected="true">Management</a>
        </li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade show active" id="DO">
          <div class="doctorTabs">
            <p>
              Erythema, swelling, abscess, crusts, pain and pyogenic granuloma
          </p>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="AVOID">
          <div class="doctorTabs">
            <p>• Wash with boric acid 3%.<br />
              • Topical steroid + antibiotic cream twice daily.<br />
              • If super infection is present add systemic antibiotics accordingly.<br />
              • NSAIDs and 2% <a tabindex="0" class="popOver" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-content="Xylocaine 2% Lidocaine gel 2% Gelicaine gel 2%">lidocaine gel</a> for pain.</p>
          </div>
        </div>
      </div>
    </ion-grid>
  </div>
</ion-content>
<!-- Footer without a border -->
<app-doctor-footer></app-doctor-footer>
<div class="modal fade" id="img1" tabindex="-1" data-backdrop="false" aria-labelledby="img1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content forImg">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nail fold</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="/assets/img/nail-fold.jpg" />
      </div>
    </div>
  </div>
</div>
