<div class="ion-page">
  <ion-content color="warning">
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <h4>Note</h4>
        </ion-col>
        <ion-col size="2">
          <a (click)="dismiss()">Close</a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeXs="12">
          <div class="englishTxt">
            1. Oral Cancer Foundation. Mucositis. Last accessed 31 August 2014 from <a target="_blank" href="http://www.oralcancerfoundation.org/complications/mucositis.php">http://www.oralcancerfoundation.org/complications/mucositis.php</a><br />
            2. Cancer Supportive Survivorship Care. Mucositis - Chemotherapy Problems and Solutions. Last accessed 31 August 2014 from <a target="_blank" href="http://www.cancersupportivecare.com/drug.php">http://www.cancersupportivecare.com/drug.php</a><br />
            3. Macmillan Cancer Support. Mouth care during chemotherapy. Last accessed 31 August 2014 from<br />
            4. <a target="_blank" href="http://www.macmillan.org.uk/Cancerinformation/Livingwithandaftercancer/Symptomssideeffects/Mouthcare/Chemotherapy.aspx">http://www.macmillan.org.uk/Cancerinformation/Livingwithandaftercancer/Symptomssideeffects/Mouthcare/Chemotherapy.aspx</a><br />
            5. CancerCare. Managing oral mucositis. Last accessed 31 August 2014 from <a target="_blank" href="http://www.lungcancer.org/find_information/publications/133-managing_oral_mucositis/166-mouth_care">http://www.lungcancer.org/find_information/publications/133-managing_oral_mucositis/166-mouth_care</a><br />
            6. Oral Cancer Foundation. Nutrition during treatment. Last accessed 31 August 2014 from <a target="_blank" href="http://www.oralcancerfoundation.org/nutrition/nutrition-during.php">http://www.oralcancerfoundation.org/nutrition/nutrition-during.php</a><br />
            <br />
            "For reporting any adverse events from Merck  Products, Please send an email to <a href="mailTo:Drug.safety.egypt@merckgroup.com">Drug.safety.egypt@merckgroup.com</a>"
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-content>
</div>
