<app-paitient-header></app-paitient-header>
<ion-content color="warning" [fullscreen]="false">
  <div id="_container">
    <div class="fakhryImg fakhry">
      <ion-img src="/assets/img/fakhry-only.png"></ion-img>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col sizeXs="12" sizeMd="4">
          <ion-button class="height-auto" expand="block" size="large" routerLink="../PatientSkinDoAvoidEng">
            <ion-text class="paragraph">Skin
              <!-- <span class="block"></span> -->
            </ion-text>
          </ion-button>
        </ion-col>
        <ion-col sizeXs="12" sizeMd="4">
          <ion-button class="height-auto" expand="block" size="large" routerLink="../PatientHairDoAvoidEng">
            <ion-text class="paragraph">Hair
              <!-- <span class="block"></span> -->
            </ion-text>
          </ion-button>
        </ion-col>
        <ion-col sizeXs="12" sizeMd="4">
          <ion-button class="height-auto" expand="block" size="large" routerLink="../PatientNailDoAvoidEng">
            <ion-text class="paragraph">Nail
              <!-- <span class="block"></span> -->
            </ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<!-- Footer without a border -->
<app-patient-footer></app-patient-footer>
