<ion-content color="warning" [fullscreen]="true">
  <div id="container2">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h4 class="pageTitle">PREVENTION</h4>
          <h1 class="headSubTitle">Erbitux<sup>®</sup> + vitamin K1 very effective in reducing skin toxity1</h1>
          <h6>Prophylactic use of vitamin K1 cream can reduce skin reactions1 in first line mCRC</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeXs="12" sizeSm="6">
          <div class="imgHolder"><img src="/assets/img/prevention-2-1.png" /></div>
        </ion-col>
        <ion-col sizeXs="12" sizeSm="6">
          <div class="imgHolder"><img src="/assets/img/prevention-2-2.png" /></div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<app-doctor-footer></app-doctor-footer>
