<app-paitient-header></app-paitient-header>
<ion-content color="warning" [fullscreen]="true">
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col sizeXs="12" sizeMd="4">
          <ion-button class="height-auto" expand="block" size="large" routerLink="../patientSkinChooseArb">
            <ion-text class="paragraph arabicTxt">إلتهاب الجلد
              <span class="block arabicTxt">الناتج عن العلاج المناعي</span>
            </ion-text>
          </ion-button>
        </ion-col>
        <ion-col sizeXs="12" sizeMd="4">
          <ion-button class="height-auto" expand="block" size="large" routerLink="../PatientMucositisArb">
            <ion-text class="paragraph arabicTxt">إلتهاب الأغشية المخاطية
              <span class="block arabicTxt">الناتج عن العلاج الإشعاعي</span>
            </ion-text>
          </ion-button>
        </ion-col>
        <ion-col sizeXs="12" sizeMd="4">
          <ion-button class="height-auto" expand="block" size="large" routerLink="../PatientDermatitisArb">
            <ion-text class="paragraph arabicTxt">إلتهاب الجلد
              <span class="block arabicTxt">الناتج عن العلاج الإشعاعي</span>
            </ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<!-- Footer without a border -->
<app-patient-footer></app-patient-footer>
