<app-paitient-header></app-paitient-header>
<ion-content color="warning" [fullscreen]="true">
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col sizeXs="12" sizeMd="4">
          <ion-button class="height-auto" expand="block" size="large" routerLink="../patientSkinChooseEng">
            <ion-text class="paragraph">Skin Rash
            <!-- <span class="block"></span> -->
            </ion-text>
          </ion-button>
        </ion-col>
        <ion-col sizeXs="12" sizeMd="4">
          <ion-button class="height-auto" expand="block" size="large" routerLink="../PatientMucositisEng">
            <ion-text class="paragraph">Mucositis
            <!-- <span class="block"></span> -->
            </ion-text>
          </ion-button>
        </ion-col>
        <ion-col sizeXs="12" sizeMd="4">
          <ion-button class="height-auto" expand="block" size="large" routerLink="../PatientDermatitisEng">
            <ion-text class="paragraph">Radiation Dermatitis
            <!-- <span class="block"></span> -->
            </ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<!-- Footer without a border -->
<app-patient-footer></app-patient-footer>
