<ion-content color="warning" [fullscreen]="true">
  <div id="container2">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h4 class="pageTitle">PREVENTION</h4>
          <h1 class="headSubTitle">Timescale of skin toxicities:</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeXs="12" sizeSm="12">
          <div class="imgHolder"><img src="/assets/img/prevention-1.png" /></div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<app-doctor-footer></app-doctor-footer>
