/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "open_sansbold", Tahoma, Geneva, sans-serif;
  line-height: 150%;
  text-transform: capitalize;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-size: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
p,
span,
a {
  margin: 0;
  padding: 0;
  line-height: 150%;
  font-family: "open_sanslight", Tahoma, Geneva, sans-serif;
  font-size: 14px;
  letter-spacing: 0;
  text-transform: capitalize;
}
a[href] {
  text-decoration: none;
}
label {
  &{background: #075e9c;
  color: #fff;
  display: block;
  text-align: left;
  padding: 5px;}
  input[type=radio]{width: 20px; height: 20px; display: inline; vertical-align: middle;}
}
.card{background-color: rgba(255, 255, 255, 0.3);}
.popOver {
  outline: none;
  border: 0 none;
  text-decoration: underline;
}
p {
  color: #075e9c;
}
.page {
  width: 100%;
  margin: 40px 0 0;
  /*position: absolute;
  bottom: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: auto;*/
}
ion-content {
  //--offset-top:40px !important;
}
.headTitleHolder {
  padding: 15px 0 50px;
  text-align: center;
}
.headTitleHolder span {
  color: #fff;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}
.headTitle {
  font-size: 24px;
  margin-bottom: 15px;
}
.headSubTitle {
  font-size: 16px;
  margin-bottom: 10px;
}
.pageTitle {
  padding: 15px;
  color: #feefd6;
}
.arabicTxt {
  direction: rtl;
  text-align: right;
  font-family: "Droid Arabic Kufi", Tahoma, Geneva, sans-serif;
}
.direction-rtl {
  direction: rtl;
}
#header {
  & {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 10px 0;
    background: #f9b000;
    text-align: right;
  }
  .logoMerck {
    max-width: 100px;
    height: auto;
  }
}
#container {
  padding-bottom: 40px;
  // position: absolute;
  // left: 0;
  // right: 0;
  // top: 50%;
  //text-align: center;
  // transform: translateY(-50%);
}
.height-auto {
  height: auto;
  white-space: normal;
}
.paragraph {
  & {
    padding: 10px;
    text-transform: capitalize;
    letter-spacing: 0;
    text-align: center;
  }
  span.block {
    display: block;
    margin-top: 10px;
  }
}
.menuListHolder {
  /*position: relative; top: -15px;*/
  margin: 100px auto 15px;
}
.mr-15 {
  margin-right: 15px;
}
.logoHolder img {
  max-width: 150px;
}
.icnHolder {
  margin: 50px auto 0;
  display: block;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}
.icnHolder span {
  font-weight: bold;
}
.homeDoctor {
  background: #feefd6 url("assets/img/icon-doctor.png") no-repeat bottom center;
  display: block;
  max-width: 135px;
  height: 135px;
  margin: 0 auto 10px;
  -webkit-border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
}
.homePatient {
  background: #feefd6 url("assets/img/icon-patient.png") no-repeat bottom center;
  display: block;
  max-width: 135px;
  height: 135px;
  margin: 0 auto 10px;
  -webkit-border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
}
.fakhry {
  background: #ded7d0;
  background: -moz-radial-gradient(
    20% 60%,
    ellipse cover,
    #ded7d0 0%,
    #b3a495 60%
  );
  background: -webkit-radial-gradient(
    20% 60%,
    ellipse cover,
    #ded7d0 0%,
    #b3a495 60%
  );
  background: radial-gradient(ellipse at 20% 60%, #ded7d0 0%, #b3a495 60%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ded7d0', endColorstr='#b3a495', GradientType=1);
}
.fakhryImg {
  /*position: absolute; bottom: 18px; left: 0; right: 0; z-index: 1;*/
}
.elle {
  background: #c8d8e8;
}
.borderOverlay {
  & {
    text-align: right;
    position: relative;
    margin-bottom: 15px;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: -1px;
    border-style: solid;
    border-width: 100px 0 0 360px;
    border-color: transparent #f9b000;
  }
  &:after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: -35px;
    background: url("/assets/img/logo-treatmentAndBeyond.png") no-repeat;
    background-size: 100% auto;
    width: 110px;
    height: 90px;
  }
}
ul.nav-tabs {
  & {
    display: table;
    width: 100%;
    border-bottom: 0 none;
  }
  li {
    & {
      display: table-cell;
      float: none;
      width: 50%;
    }
    a,
    a:hover,
    a:focus {
      display: block;
      margin: 0 5px;
      padding: 15px;
      text-align: center;
      font-weight: bold;
      border: 1px solid #936800;
      border-bottom-color: transparent;
      -webkit-border-radius: 5px 5px 0 0;
      -moz-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0;
      background-color: transparent;
      color: #936800;
    }
    a.active,
    a.active:focus,
    a.active:hover {
      background-color: rgba(255, 255, 255, 0.25);
      border: 1px solid #ddd;
      border-bottom-color: transparent;
      color: #075e9c;
    }
  }
}

.doAvoid {
  & {
    background-color: rgba(255, 255, 255, 0.25);
    margin: 0 0 2px;
    padding: 10px 15px;
    color: #075e9c;
  }
  .doAvoidImg {
    background-color: #fff;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    overflow: hidden;
    position: relative;
    text-align: center;
  }
  .glyphicon {
    & {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      color: #fff;
      padding: 3px 5px;
      -webkit-border-radius: 0 5px 0 5px;
      -moz-border-radius: 0 5px 0 5px;
      border-radius: 0 5px 0 5px;
    }
    &.glyphicon-ok {
      background: #1cec06;
    }
    &.glyphicon-remove {
      background: #ec0606;
    }
  }
  .doAvoidTxt {
    color: #075e9c;
    font-weight: bold;
    /*display: table-cell;
    height: 90px;
    vertical-align: middle;*/
  }
}
.gridBox {
  & {
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    margin-bottom: 15px;
  }
  .gridImg {
    & {
      background-color: #fff;
      padding: 10px;
      text-align: center;
    }
    img {
      max-height: 150px;
      width: auto;
    }
  }
  .gridTxt {
    padding: 15px 10px;
    color: #075e9c;
    /*min-height: 90px;*/
    background: #ffffff;
    background: -moz-radial-gradient(
      center,
      ellipse cover,
      #ffffff 0%,
      #ebebed 50%
    );
    background: -webkit-radial-gradient(
      center,
      ellipse cover,
      #ffffff 0%,
      #ebebed 50%
    );
    background: radial-gradient(ellipse at center, #ffffff 0%, #ebebed 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebed', GradientType=1);
  }
}
.imgHolder {
  margin: 15px 0 30px;
  padding: 15px;
  text-align: center;
  background-color: #feefd6;
}
.prevention {
  background: #ffc946;
  padding: 0 15px 15px;
  margin: 30px 0;
  position: relative;
}
.prevention h6 {
  background: #075e9c;
  color: #fff;
  margin: 0 -15px 10px;
  padding: 5px 0;
  text-align: center;
}
.prevention .glyphicon {
  position: absolute;
  top: -20px;
  left: 50%;
}
.controlerLinksHolder {
  padding-bottom: 65px;
}
#controlerLinksHolder {
  & {
    position: fixed;
    bottom: 60px;
    left: 10px;
    right: 10px;
  }
  .controlerLinks {
    background: #075e9c;
    padding: 10px;
    margin: 15px 0 0;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
  }
  a {
    display: block;
    color: #fff;
  }
  span {
    color: #fff;
  }
  .gradesNom {
    float: left;
    margin-right: 10px;
  }
  .howtoGrade {
    float: right;
  }
}
.img {
  -webkit-border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
  margin: 20px 0;
  overflow: hidden;
}
span.small {
  display: block;
  text-align: center;
  font-size: 85% !important;
  font-weight: normal !important;
  margin: 10px 0;
}
.doctorTabs {
  background-color: rgba(255, 255, 255, 0.25);
  padding: 25px 15px;
}
.doctorTabs p {
  color: #075e9c;
  font-weight: bold;
}
.doctorTabs > a {
  color: #075e9c;
  border-bottom: 1px solid #936800;
}
.doctorTabs span {
  color: #05416b;
  font-size: 18px;
  font-weight: bold;
}
.menuListRegular {
  margin-top: 5px;
  background-color: #075e9c;
}
.menuListRegular * {
  color: #fff !important;
}
.menuListRegular .headTitle {
  margin-bottom: 0;
}
.menuListRegular > a {
  display: block;
  padding: 5px 10px;
  font-size: 16px;
  text-align: center;
}
.perventionMenu .menuListRegular {
  display: table;
  width: 100%;
}
.perventionMenu .menuListRegular > a {
  display: table-cell;
  width: 100%;
  height: 83px;
  vertical-align: middle;
}
.forImg {
  & {
  }
  .modal-header {
    & {
      padding: 10px;
      position: relative;
    }
    .close {
      margin: -10px -10px -10px auto;
      padding: 10px 20px;
    }
  }
  .modal-body {
    padding: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .menuListRegular * {
    text-align: center;
  }
  .menuListColored > a {
    min-height: 75px;
  }
  .noteBox {
    margin: 50px 0 15px;
  }
  .noteBox .noteLogo {
    padding-top: 30px;
  }
  .borderOverlay:before {
    border-width: 140px 0 0 840px;
  }
  .borderOverlay:after {
    left: 45px;
    bottom: 5px;
    width: 145px;
  }
  .img {
    margin: 0;
  }
  .prevention {
    margin: 30px 0;
  }
  .prevention .glyphicon {
    top: 40px;
    left: -7px;
  }
}
