<ion-content color="warning" [fullscreen]="false">
  <div id="_container" class="controlerLinksHolder">
    <ion-grid>
      <ion-row>
        <ion-col sizeXs="12">
          <h4 class="pageTitle">Papulo Pustular Eruption <br />Grade 1</h4>
          <h2 class="headSubTitle">SKIN<sup>(1-10)</sup>... Sites of eruption: For Face, Scalp, Chest or Back</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeXs="4">
          <div class="img">
            <a data-toggle="modal" data-target="#img1"><img src="/assets/img/skin-grade1-img1.jpg" /></a>
          </div>
        </ion-col>
        <ion-col sizeXs="4">
          <div class="img">
            <a data-toggle="modal" data-target="#img2"><img src="/assets/img/skin-grade1-img2.jpg" /></a>
          </div>
        </ion-col>
        <ion-col sizeXs="4">
          <div class="img">
            <a data-toggle="modal" data-target="#img3"><img src="/assets/img/skin-grade1-img3.jpg" /></a>
          </div>
        </ion-col>
      </ion-row>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="active" [class.arabicTxt]="false" id="DO-tab" data-toggle="tab" href="#DO" role="tab"
            aria-controls="DO" aria-selected="true">Clinically</a>
        </li>
        <li class="nav-item">
          <a class="" [class.arabicTxt]="false" id="AVOID-tab" data-toggle="tab" href="#AVOID" role="tab"
            aria-controls="AVOID" aria-selected="true">Management</a>
        </li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade show active" id="DO">
          <div class="doctorTabs">
            <p>
              <span>
                <5 </span> Papules and/or Pustules or 1 area of erythema and odema <span> +/- </span> itching and pain
            </p>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="AVOID">
          <div class="doctorTabs">
            <p>Management:<sup>(1-10)</sup><br />
              1) Vitamin K cream containing 0.1% 2 × daily <span>OR</span><br />
              2) <a href="javascript:;" data-toggle="popover" data-trigger="focus"
                data-content="Aknemycin ointment">Erythromycin ointment</a> / <a href="javascript:;"
                data-toggle="popover" data-trigger="focus" data-content="Dalacin T Clinda-sol">clindamycin solution</a>
              twice daily <span>OR</span><br />
              3) <a href="javascript:;" data-toggle="popover" data-trigger="focus"
                data-content="Rosa gel Trico gel">Metronidazole</a> cream<br />
              <br />
              ± Benzoyl Peroxide gel at night (depend on severity of inflammation)
              [N.B. may cause irritation]
              <br />
              <br />
            </p>
            <h6>No response after 4 weeks</h6>
            <p>Add topical +/- antibiotic cream twice daily</p>
            <br />
            <h6>No response after 2 weeks</h6>
            <p>Add <a href="javascript:;" data-toggle="popover" data-trigger="focus"
                data-content="Vibramycin 100 mg caps">Doxycycline</a> 100-200 mg/day caps
            </p>
            <br />
            <h6>No response after 4 weeks</h6>
            <p>Refer to dermatologist</p>
          </div>
        </div>
      </div>
    </ion-grid>
    <div id="controlerLinksHolder">
      <ion-row>
        <ion-col sizeSm="6" offsetSm="6">
          <div class="controlerLinks clearfix">
            <a class="gradesNom" routerLink="../skinG2">Grade 2 <span
                class="glyphicon glyphicon-chevron-right"></span></a>
            <a class="gradesNom" routerLink="../skinG3">Grade 3 <span
                class="glyphicon glyphicon-chevron-right"></span></a>
            <a class="howtoGrade" routerLink="../hairHowToGrade">How to grade?</a>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
<!-- Footer without a border -->
<app-doctor-footer></app-doctor-footer>
<div class="modal fade" id="img1" tabindex="-1" data-backdrop="false" aria-labelledby="img1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content forImg">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Papulo Pustular Eruption Grade 1</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="/assets/img/skin-grade1-img1.jpg" />
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="img2" tabindex="-1" data-backdrop="false" aria-labelledby="img1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content forImg">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Papulo Pustular Eruption Grade 1</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="/assets/img/skin-grade1-img2.jpg" />
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="img3" tabindex="-1" data-backdrop="false" aria-labelledby="img1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content forImg">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Papulo Pustular Eruption Grade 1</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="/assets/img/skin-grade1-img3.jpg" />
      </div>
    </div>
  </div>
</div>
