<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-buttons class="mr-15" slot="start" (click)="back()">
      <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="start" routerLink="/home">
      <ion-icon slot="icon-only" name="home-outline"></ion-icon>
    </ion-buttons>
    <ion-buttons class="mr-15" slot="end">
      <ion-text>Disclaimer</ion-text>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-text>References</ion-text>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
