<div class="ion-page">
  <ion-content color="warning">
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <h4>Disclaimer</h4>
        </ion-col>
        <ion-col size="2">
          <a (click)="dismiss()">Close</a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeXs="12">
          <div class="englishTxt">
            This management guidance material was developed in collaboration with Professor Mohamed ElKomy, Professor
            of
            Dermatology, Cairo University. Merck Ltd. Egypt is the financial sponsor of the booklet contained herein.
            This
            sponsorship is subject to the requirement that the author' content is of a scientific nature. Merck Ltd.
            has not
            contributed to or interfered with the contents of this booklet in any way whatsoever. Merck Ltd. makes no
            representations of any kind about the completeness, accuracy, or reliability with respect to the
            information
            provided. Merck Ltd. does not accept any liability for reliance placed on such information.
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-content>
</div>
