<ion-content color="warning" [fullscreen]="true">
  <div id="container2">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h4 class="pageTitle">PREVENTION</h4>
          <h1 class="headSubTitle">Specific recommendations for the prevention of acneiform rash:</h1>
          <h6>Starting from the first cetuximab dose basic care measures can reduce the severity and extent of skin
            reactions.
            The following specific recommendations for prophylaxis are based primarily on results from clinical trials:
          </h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeXs="12" sizeMd="3">
          <div class="prevention">
            <h6>CARE</h6>
            <p>• Use Fragrance-free, moisturizing creams or lotions
              <!-- <br />
              • Vitamin K-1 Cream containing 0.1% 2 × daily -->
            </p>
          </div>
        </ion-col>
        <ion-col sizeXs="12" sizeMd="3">
          <div class="prevention">
            <span class="glyphicon glyphicon-plus"></span>
            <h6>CLEAN</h6>
            <p>• Wash with tepid warm water <br />
              • Use of soap-free, pH5-neutral bath shower oils</p>
          </div>
        </ion-col>
        <ion-col sizeXs="12" sizeMd="3">
          <div class="prevention">
            <span class="glyphicon glyphicon-plus"></span>
            <h6>SUN SCREEN</h6>
            <p>Sunscreen with a sun protection factor ≥ 25 <br />
              (at least 30 min before sun exposure)
            </p>
          </div>
        </ion-col>
        <ion-col sizeXs="12" sizeMd="3">
          <div class="prevention">
            <span class="glyphicon glyphicon-plus"></span>
            <h6>ANTIBIOTICS-PROPHYLAXIS</h6>
            <p>• Oral administration of antibiotics*:<br />
              • Doxycycline ** 100 mg - 200 mg / day ≥ 8 weeks <br />
              • Minocycline 100 mg/day ≥ 8 weeks
            </p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<app-doctor-footer></app-doctor-footer>
